/********** Template CSS **********/
:root {
  --primary: #13c5dd;
  --secondary: #354f8e;
  --light: #eff5f9;
  --dark: #1d2a4d;
}

.btn {
  font-weight: 700;
  transition: 0.5s;
}

.btn:hover {
  -webkit-box-shadow: 0 8px 6px -6px #555555;
  -moz-box-shadow: 0 8px 6px -6px #555555;
  box-shadow: 0 8px 6px -6px #555555;
}

.btn-primary {
  color: #ffffff !important;
}

.btn-square {
  width: 36px;
  height: 36px;
}

.btn-sm-square {
  width: 28px;
  height: 28px;
}

.btn-lg-square {
  width: 46px;
  height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 0;
  border-radius: 50% 50% 0 0;
  z-index: 99;
}

.navbar-light .navbar-nav .nav-link {
  font-family: "Jost", sans-serif;
  position: relative;
  margin-left: 30px;
  padding: 30px 0;
  font-size: 18px;
  font-weight: 700;
  color: var(--dark);
  outline: none;
  transition: 0.5s;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: #13c5dd !important;
}

@media (min-width: 992px) {
  .navbar-light .navbar-nav .nav-link::before {
    position: absolute;
    content: "";
    width: 0;
    height: 5px;
    bottom: 0;
    left: 50%;
    background: #13c5dd;
    transition: 0.5s;
  }

  .navbar-light .navbar-nav .nav-link:hover::before,
  .navbar-light .navbar-nav .nav-link.active::before {
    width: 100%;
    left: 0;
  }
}

@media (max-width: 991.98px) {
  .navbar-light .navbar-nav .nav-link {
    margin-left: 0;
    padding: 10px 0;
  }
}

.hero-header {
  background: url(../../../../assets/hero.jpg) top right no-repeat;
  background-size: cover;
}

.service-item {
  position: relative;
  height: 350px;
  padding: 0 30px;
  transition: 0.5s;
}

.service-item .service-icon {
  width: 150px !important;
  height: 100px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background: #13c5dd !important;
  border-radius: 50% !important;
  transform: rotate(-14deg) !important;
}

.service-item .service-icon i {
  transform: rotate(15deg);
}

.service-item a.btn {
  position: absolute;
  width: 60px;
  bottom: -48px;
  left: 50%;
  margin-left: -30px;
  opacity: 0;
}

.service-item:hover a.btn {
  bottom: -24px;
  opacity: 1;
}

.price-carousel::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  background: #13c5dd;
  border-radius: 8px 8px 50% 50%;
  z-index: -1;
}

.price-carousel .owl-nav {
  margin-top: 35px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.price-carousel .owl-nav .owl-prev,
.price-carousel .owl-nav .owl-next {
  position: relative;
  margin: 0 5px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #13c5dd;
  background: #ffffff;
  font-size: 22px;
  border-radius: 45px;
  transition: 0.5s;
}

.price-carousel .owl-nav .owl-prev:hover,
.price-carousel .owl-nav .owl-next:hover {
  color: var(--dark);
}

@media (min-width: 576px) {
  .team-item .row {
    height: 350px;
  }
}

.team-carousel .owl-nav {
  position: absolute;
  padding: 0 45px;
  width: 100%;
  height: 45px;
  top: calc(50% - 22.5px);
  left: 0;
  display: flex;
  justify-content: space-between;
}

.team-carousel .owl-nav .owl-prev,
.team-carousel .owl-nav .owl-next {
  position: relative;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: #13c5dd;
  border-radius: 45px;
  font-size: 22px;
  transition: 0.5s;
}

.team-carousel .owl-nav .owl-prev:hover,
.team-carousel .owl-nav .owl-next:hover {
  background: var(--dark);
}

.testimonial-carousel .owl-dots {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 20px;
  height: 20px;
  background: #eff5f9;
  border: 2px solid #13c5dd;
  border-radius: 20px;
  transition: 0.5s;
}

.testimonial-carousel .owl-dot.active {
  width: 40px;
  height: 40px;
  background: #13c5dd;
}

.testimonial-carousel .owl-item img {
  width: 150px;
  height: 150px;
}

.text-lg-start {
  text-align: left !important;
}

.text-body {
  color: #848e9f !important;
}

.text-primary {
  color: #13c5dd !important;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #13c5dd;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #13c5dd;
}

.mr {
  margin-right: 9rem;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: #1d2a4d;
}

body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #848e9f;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btn-primary {
  color: #000;
  background-color: #13c5dd;
  border-color: #13c5dd;
}
.btn-primary:hover {
  color: #000;
  background-color: #36cee2;
  border-color: #2bcbe0;
}

.bg-primary {
  background-color: #13c5dd !important;
}

.me-3 {
  margin-right: 1rem !important;
}

.btn-dark {
  color: #fff;
  background-color: #1d2a4d;
  border-color: #1d2a4d;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

.input-group
  > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(
    .valid-feedback
  ):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.h3 {
  text-decoration: none !important;
}

.bg-dark {
  background-color: #1d2a4d !important;
}

.text-light {
  text-decoration: none !important;
}

.text-md-start {
  text-align: left !important;
}
.text-md-end {
  text-align: right !important;
}

.under {
  text-decoration: none !important;
}