<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Health Track - Hospital Webapp</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">  

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
   <!--  <link href="css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid py-2 border-bottom d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-lg-start mb-2 mb-lg-0">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-decoration-none text-body pe-3" href=""><i class="bi bi-telephone me-2"></i>+57 3222222</a>
                        <span class="text-body">|</span>
                        <a class="text-decoration-none text-body px-3" href=""><i class="bi bi-envelope me-2"></i>info@healthTrack.com</a>
                    </div>
                </div>
                <div class="col-md-6 text-center text-lg-end">
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid sticky-top bg-white shadow-sm">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0">
                <a href="/home" class="navbar-brand">
                    <h1 class="mr text-uppercase text-primary"><i class="fa fa-clinic-medical me-2"></i>Health Track</h1>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0">
                        <a class="nav-item nav-link" (click)="navegarHome()">Home</a>
                        <a class="nav-item nav-link" (click)="navegarAbout()">Acerca</a>
                        <a class="nav-item nav-link" (click)="navegarServicios()">Servicios</a>
                        <a class="nav-item nav-link" (click)="navegarPrecios()">Precios</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Paginas</a>
                            <div class="dropdown-menu m-0">
                                <a href="blog.html" class="dropdown-item">Blog Grid</a>
                                <a href="detail.html" class="dropdown-item">Blog Detalle</a>
                                <a href="team.html" class="dropdown-item">El Equipo</a>
                                <a href="testimonial.html" class="dropdown-item">Testimonios</a>
                                <a href="appointment.html" class="dropdown-item">Agendar</a>
                                <a href="search.html" class="dropdown-item">Buscar</a>
                            </div>
                        </div>
                        <a class="nav-item nav-link" (click)="navegarContactanos()">Contactanos</a>
                        <a class="nav-item nav-link" (click)="navegarPerfil()"><i class="fa fa-user"></i></a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->





    <!-- Appointment Start -->
    <div class="container-fluid bg-primary my-5 py-5">
        <div class="container py-5">
            <div class="row gx-5">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="mb-4">
                        <h5 class="d-inline-block text-white text-uppercase border-bottom border-5">Cita previa</h5>
                        <h1 class="display-4">Pida cita para su familia ahora!</h1>
                    </div>
                    <p class="text-white mb-5">Nuestro equipo está compuesto por profesionales apasionados por la salud y el bienestar, así como por expertos en desarrollo de software. Nos esforzamos por crear una aplicación web completa que brinde a los usuarios recursos valiosos, seguimiento de salud y consejos personalizados para ayudarles a alcanzar sus metas de bienestar.</p>
                    <a class="btn btn-dark rounded-pill py-3 px-5 me-3" href="search.html">Encuentra un Doctor</a>
                    <a class="btn btn-outline-dark rounded-pill py-3 px-5" href="appointment.html">Leer Mas</a>
                </div>
                <div class="col-lg-6">
                    <div class="bg-white text-center rounded p-5">
                        <h1 class="mb-4">Agenda una Cita</h1>
                        <form>
                            <div class="row g-3">
                                <div class="col-12 col-sm-6">
                                    <select class="form-select bg-light border-0" style="height: 55px;">
                                        <option selected>Selecciona el Departmento</option>
                                        <option value="1">Atlantico</option>
                                        <option value="2">Magdalena</option>
                                        <option value="3">Bolivar</option>
                                    </select>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <select class="form-select bg-light border-0" style="height: 55px;">
                                        <option selected>Selecciona un Doctor</option>
                                        <option value="1">Doc. AfaBot</option>
                                        <option value="2">Doc. SeBot</option>
                                        <option value="3">Doc. Botrela</option>
                                    </select>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="text" class="form-control bg-light border-0" placeholder="Tu Nombre" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="email" class="form-control bg-light border-0" placeholder="Tu Email" style="height: 55px;">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="date" id="date" data-target-input="nearest">
                                        <input type="text"
                                            class="form-control bg-light border-0 datetimepicker-input"
                                            placeholder="Fecha" data-target="#date" data-toggle="datetimepicker" style="height: 55px;">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="time" id="time" data-target-input="nearest">
                                        <input type="text"
                                            class="form-control bg-light border-0 datetimepicker-input"
                                            placeholder="Hora" data-target="#time" data-toggle="datetimepicker" style="height: 55px;">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Reservar Cita!</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Appointment End -->


 

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light mt-5 py-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">Mantente en Contacto
                    </h4>
                    <p class="mb-4">Estas son nuestras lineas de atencion</p>
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary me-3"></i>Atlantico, Barranquilla, Colombia</p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary me-3"></i>info@healthTrack.com</p>
                    <p class="mb-0"><i class="fa fa-phone-alt text-primary me-3"></i>+57 322 2222</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">Accesos Directos</h4>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Home</a>
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Acerca de Nosotros</a>
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Nuestros Servicios</a>
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Unete al Equipo</a>
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Ultimos Blogs</a>
                        <a class="text-light" href="#"><i class="fa fa-angle-right me-2"></i>Contactanos</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">Links Populares</h4>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Home</a>
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Acerca de Nosotros</a>
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Nuestros Servicios</a>
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Unete al Equipo</a>
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Ultimos Blogs</a>
                        <a class="text-light" href="#"><i class="fa fa-angle-right me-2"></i>Contactanos</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">Boletín</h4>
                    <form action="">
                        <div class="input-group">
                            <input type="text" class="form-control p-3 border-0" placeholder="Tu Direccion de Email">
                            <button class="btn btn-primary">Inscribirse</button>
                        </div>
                    </form>
                    <h6 class="text-primary text-uppercase mt-4 mb-3">Siguenos</h6>
                    <div class="d-flex">
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href=""><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href=""><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-light border-top border-secondary py-4">
        <div class="container">
            <div class="row g-5">
                <div class="col-md-6 text-center text-md-start">
                    <p class="mb-md-0">&copy; <a class="text-primary" href="#">Health Track</a>. Todos los derechos reservados.</p>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <p class="mb-0">Diseñado por <a class="text-primary" href="">Juan Bossa</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>